modules = ["python-3.10:v18-20230807-322e88b"]
run = "python chart.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python chart.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
