/* style.css */

.cell-fail {
    text-align: center;
    font-weight: bold;
    background-color: #f44336;
  }
  
  .cell-pass {
    text-align: center;
    font-weight: bold;
    background-color: #4caf50;
  }